/*
Project: WebProTpl
Author：12278
Email：2726893248@qq.com
CreateDate：2019-01-01 00:00:00
IDE: WebStorm
*/

@font-face {
    font-family: 'Font_Helvetica';
    src: url(~fontsDir/Helvetica.otf);
}

html.helloWorld {
    background-color: #22afe9;

    body, #LocalRoll, #HelloWorld, main {
        background-color: #22afe9;
    }

    #HelloWorld {

        article {
            width: 100%;

            .title {
                width: 100%;
                height: 60px;
                line-height: 1;
                color: white;
                font-size: 20px;
                font-family: Font_Helvetica;
                padding: 0 20px;
            }

        }

    }

}
