/*
Project: WebProTpl
Author：12278
Email：2726893248@qq.com
CreateDate：2019-01-01 00:00:00
IDE: WebStorm
*/

.root.imgShowToolBox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f3a1a2;
    z-index: 100;

    .returnToBtnBoxA, .refreshBtnBoxA {
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        height: 88px;
        background: transparent;
        z-index: 101;
    }

    .returnToBtnBoxA {
        top: 0;
    }

    .refreshBtnBoxA {
        bottom: 0;
    }

    img {
        width: 100%;
        height: auto;
    }

    .prevBtn, .nextBtn {
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        height: calc((100% - (88px * 2)) / 2);
        background-color: transparent;
        z-index: 102;
    }

    .prevBtn {
        top: 88px;
    }

    .nextBtn {
        bottom: 88px;
    }
}
